<!-- <ion-header>
  <ion-toolbar>
    <ion-title>payment-success</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="mainBackground">
  <div style="padding: 20px;">
    <div class="center flex_col">
      <img class="checkemeark_img" src="../../../../assets/images/image-2.png" />
      <p class="congratulations_text Poppins">Congratulations! </p>
      <p class="booked_text Poppins">Your Slot has been booked!</p>
      <p class="ticket_text Poppins">TICKET</p>

      <div class="card">
        <p class="borderDashed"></p>
        <div style="position: absolute; top: 185px;">
          <ion-grid class="pad_0">
            <ion-row>
              <ion-col size="6" style="padding:0px 5px 0px 0px;">
                <p class="name_text Poppins">NAME</p>
                <p class="surendhar_text Poppins">Surendhar P</p>
              </ion-col>
              <ion-col size="6" style="padding:0px 0px 0px 5px !important;">
                <p class="name_text Poppins">Ticket Number</p>
                <p class="surendhar_text Poppins">50</p>
              </ion-col>
              <ion-col size="6" style="padding:0px 5px 0px 0px; margin-top: 10px;">
                <p class="name_text Poppins">MOBILE</p>
                <p class="surendhar_text Poppins">+91 9500804572</p>
              </ion-col>
              <ion-col size="6" style="padding:0px 0px 0px 5px; margin-top: 10px;">
                <p class="name_text Poppins">Gender</p>
                <p class="surendhar_text Poppins">Male</p>
              </ion-col>
              <ion-col size="12" class="pad_0" style="margin-top: 10px;">
                <p class="name_text Poppins">Purpose of visit</p>
                <p class="surendhar_text Poppins">Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
                  IpsumLorem
                  IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
              </ion-col>
              <ion-col size="12" class="pad_0 center flex_col" style="margin-top: 10px;">
                <p class="name_text Poppins">Transaction ID</p>
                <p class="surendhar_text Poppins">21487987329578</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
  </div>
</ion-content>