ion-header {
    background: #F05023;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-md {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.back_icon {
    height: 25px;
    width: 25px;
    color: white;
}

.mainTitle_text {
    font-size: 16px;
    font-weight: 700;
    color: white;
    margin: 0px;
    padding-left: 10px;
}

.editIcon_div1 {
    border: 2px solid white;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background: #F05023;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editImg1 {
    height: 10px;
    width: 10px;
    color: white;
}

.mainBackground {
    --background: white;
    height: 100%;
    width: 100%;
}

.username_input {
    width: 100%;
    padding: 0px 10px 0px 15px !important;
    height: 50px;
    border-radius: 9px;
    background: #FFEEDA !important;
    color: black;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.address_div {
    width: 100%;
    position: relative;
    margin: 20px 0px 0px 0px;
}

.name_input {
    width: 100%;
    height: 50px;
    border-radius: 9px;
    background: #FFEEDA;
    padding: 0px 10px 0px 15px !important;
    font-size: 17px;
    font-weight: 500;
    color: black;
    margin: 0px 0px 0px 0px;
    box-shadow: none;
}

.search_div {
    border: 2px solid #FF5207;
    border-radius: 5px;
    box-shadow: none;
    position: absolute;
    z-index: 9999;
    top: 50px;
    width: 100%;
    margin: 0px;
}

.search_item {
    font-size: 14px;
    --min-height: 30px;
    border-bottom: 1px solid #FF5207;
    width: 100%;
}

.mainAddbutton_div {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    margin-bottom: 5px;
}

.email_input {
    width: 100%;
    padding: 0px 10px 0px 15px !important;
    height: 50px;
    border-radius: 9px;
    background: #FFEEDA !important;
    color: black;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 20px 0px 0px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.add_btn {
    --border-radius: 10px;
    --background: #FF5207;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 80px;
    margin: 0px 0px 0px 0px;
    height: 50px;
    text-transform: none;
    --box-shadow: none !important;
}

.addServiceSlot_div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.closeCircle_icon1 {
    position: absolute;
    right: 5px;
    top: 4px;
    color: red;
    font-size: 20px;
    z-index: 9999;
}

.time_text {
    background: #FFEEDA !important;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin: 0px;
}

.ownername_div {
    width: 100%;
    margin: 20px 0px 0px 0px;
}

.ionSelectOption {
    background: #FFEEDA;
    width: 100%;
    font-size: 17px;
    color: black;
    font-weight: 500;
    border-radius: 9px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px;
}

.textarea {
    background: #FFEEDA !important;
    width: 100%;
    outline: none;
    border: none;
    padding: 10px 10px 10px 15px !important;
    border-radius: 9px;
    color: black;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 20px 0px 0px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.uploadedDocument_text {
    font-size: 17px;
    font-weight: 500;
    color: black;
    margin: 0px 0px 20px 0px;
}

.openImg_div {
    border: 2px dashed black;
    border-radius: 10px;
    height: 120px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.closeCircle_icon {
    position: absolute;
    right: 0px;
    top: 0px;
    color: red;
    font-size: 30px;
    z-index: 9999;
}

.profile_img1 {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 100%;
}

.editIcon_div2 {
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background: #FFEEDA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.editIcon {
    height: 15px;
    width: 15px;
    color: black;
}

.uploadImage_text {
    font-size: 13px;
    font-weight: 400;
    color: black;
    text-align: center;
    margin: 5px 0px 0px 0px;
}

.signIn_btn {
    --border-radius: 10px;
    --background: #FF5207;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 100%;
    margin: 50px 0px 0px 0px;
    height: 50px;
    text-transform: none;
    --box-shadow: 0px 5px 20px 10px #2048BD33;
}