<ion-header>
  <div class="mainHeader">
    <div class="left">
      <p class="mainTitle_text PPNeueMontreal">History</p>
    </div>
    <img class="user_icon" *ngIf="userDetail?.profile" [src]="userDetail?.profile" />
    <ion-icon class="user_icon1" *ngIf="!userDetail?.profile" name="person-outline"></ion-icon>
  </div>
</ion-header>

<ion-content class="mainBackground">
  <div style="padding: 20px;" *ngIf="historyData.length >0">
    <div class="mainCard">
      <div class="card" *ngFor="let item of historyData">
        <div class="mainNotifications_div">
          <div class="notifications_div">
            <img class="notificationsIcon" [src]="item?.user?.profile" />
          </div>
          <div>
            <p class="date_text Inter">{{moment(item?.date).format("DD MMM, YYYY")}}</p>
            <p class="andrew_text Inter">{{item?.name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="noValidation_div" *ngIf="historyData.length === 0">
    <p class="noValidation_text">No History Available</p>
  </div>
</ion-content>