ion-header {
    background: #F05023;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-md {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.back_icon {
    height: 25px;
    width: 25px;
    color: white;
}

.mainTitle_text {
    font-size: 16px;
    font-weight: 700;
    color: white;
    margin: 0px;
    padding-left: 10px;
}

.user_icon {
    width: 18px;
    height: 18px;
    border-radius: 100%;
}

.mainBackground {
    --background: white;
    height: 100%;
    width: 100%;
}

.profileImg_div {
    border: 10px solid white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 0px #00000029;
    margin: 0px 0px 20px 0px;
}

.profileImg {
    width: 92px;
    height: 92px;
    border-radius: 100%;
}

.editIcon_div {
    border: 3px solid white;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background: #F05023;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 105px;
    top: 5px;
}

.editImg {
    height: 13px;
    width: 13px;
    color: white;
}

.editIcon_div1 {
    border: 2px solid white;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background: #F05023;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editImg1 {
    height: 10px;
    width: 10px;
    color: white;
}

.username_input {
    width: 100%;
    padding: 0px 10px 0px 15px !important;
    height: 50px;
    border-radius: 9px;
    background: #FFEEDA !important;
    color: black;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.email_input {
    width: 100%;
    padding: 0px 10px 0px 15px !important;
    height: 50px;
    border-radius: 9px;
    background: #FFEEDA !important;
    color: black;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 20px 0px 0px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.signIn_btn {
    --border-radius: 10px;
    --background: #FF5207;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 100%;
    margin: 50px 0px 0px 0px;
    height: 50px;
    text-transform: none;
    --box-shadow: 0px 5px 20px 10px #2048BD33;
}