<ion-header>
  <div class="mainHeader">
    <div class="left">
      <ion-icon class="back_icon" (click)="goBack()" name="chevron-back-outline"></ion-icon>
      <p class="mainTitle_text PPNeueMontreal">Privacy Policy</p>
    </div>
  </div>
</ion-header>

<ion-content class="mainBackground">
  <div style="padding: 20px;">
    <p class="loremIpsum_text Raleway">Lorem ipsum dolor sit amet consectetur. Porttitor orci sociis tristique ipsum
      iaculis
      amet nec eget. Sit odio sit accumsan senectus fringilla justo amet aenean. Pellentesque in id pulvinar diam amet
      enim semper vitae dui. Amet etiam sed velit venenatis viverra auctor. Malesuada fermentum sit et pulvinar magna
      curabitur nunc interdum. Lorem ut ipsum senectus eu. Lobortis convallis elit aliquet in. Lectus magna nullam ac
      vitae vestibulum facilisis amet tincidunt. Lacus vitae fermentum aliquam tincidunt sed diam elit. Dignissim ut
      faucibus elementum convallis ultrices non. Commodo enim vitae non et. Quam sed dignissim duis posuere at. Sed erat
      cum nibh non.Lorem ipsum dolor sit asacmet consectetur. Porttitor orci sociis tristique ipsum iaculis amet nec
      eget. Sit odio sit accumsan senectus fringilla justo amet aenean. Pellentesque in id pulvinar diam amet enim
      semper vitae dui. Amet etiam sed velit venenatis viverra auctor. Malesuada fermentum sit et pulvinar magna
      curabitur nunc interdum. Lorem ut ipsum senectus eu. Lobortis convallis elit aliquet in. Lectus magna nullam ac
      vitae vestibulum facilisis amet tincidunt. Lacus vitae fermentum aliquam tincidunt sed diam elit. Dignissim ut
      faucibus elementum convallis ultrices non. Commodo enim vitae non et. Quam sed dignissim duis posuere at. Sed erat
      cum nibh non.</p>
  </div>
</ion-content>