<ion-content class="mainBackground">
  <div style="padding: 20px;" class="h_100">
    <div class="mainBackIcon_div">
      <ion-icon class="back_icon" (click)="goBack()" name="chevron-back-outline"></ion-icon>
    </div>

    <div class="main_div">
      <div class="welcome_div">
        <p class="welcome_text PPNeueMontreal">{{'Forgot password' | translate}}</p>
      </div>

      <div class="center">
        <img class="bg_img" src="../../../../assets/images/forgotPasswordBg.png" />
      </div>

      <form class="w_100" #forgotPasswordForm="ngForm">
        <div *ngIf="step === 1">
          <ion-input class="email" type="email" [label]="'Email' | translate" label-placement="floating" fill="outline"
            [placeholder]="'Enter email' | translate" name="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            [(ngModel)]="forgotPasswordModel.email" #email="ngModel" required></ion-input>
          <p class="validField" *ngIf="submitted && email?.errors?.['required']">
            {{'Email is required' | translate}}.
          </p>
          <p class="validField" *ngIf="submitted && email?.errors?.['pattern']">{{'Invalid your email' | translate}}</p>
        </div>

        <div *ngIf="step === 2">
          <ion-input class="email" type="text" [label]="'OTP' | translate" label-placement="floating" fill="outline"
            placeholder="**************" name="otps" [(ngModel)]="otp" #otps="ngModel" required></ion-input>
          <p class="validField" *ngIf="submitted && otps?.errors?.['required']">
            {{'OTP is required' | translate}}.
          </p>
        </div>

        <div *ngIf="step === 3">
          <ion-input class="email" type="password" [label]="'Enter Password' | translate" label-placement="floating"
            fill="outline" placeholder="**************" name="passwords" [(ngModel)]="password" #passwords="ngModel"
            required></ion-input>
          <p class="validField" *ngIf="submitted && passwords?.errors?.['required']">
            {{'Password is required' | translate}}.</p>

          <ion-input class="password" type="password" [label]="'Enter Confirm Password' | translate"
            label-placement="floating" fill="outline" placeholder="**************" name="confirmPasswords"
            [(ngModel)]="confirmPassword" #confirmPasswords="ngModel" required></ion-input>
          <p class="validField" *ngIf="submitted && confirmPasswords?.errors?.['required']">
            {{'Confirm password is required' | translate}}.</p>
        </div>

        <ion-button class="signIn_btn" (click)="loginData(forgotPasswordForm)">{{'Save' | translate}}</ion-button>

      </form>
    </div>
  </div>
</ion-content>