.mainBackground {
    --background: white;
    height: 100%;
    width: 100%;
}

capacitor-google-map {
    display: inline-block;
    // width: 275px;
    // height: 400px;
    width: 100%;
    height: 100%;
}

.address_div {
    width: 100%;
    position: relative;
}

.name_input {
    width: 100%;
    height: 50px;
    border-radius: 30px;
    background: white;
    border: 1px solid #C4C4C4;
    padding: 0px 20px 0px 20px !important;
    font-size: 12px;
    font-weight: 600;
    color: #767676;
    margin: 0px 0px 0px 0px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.search_div {
    border: 2px solid #FF5207;
    border-radius: 5px;
    box-shadow: none;
    position: absolute;
    z-index: 9999;
    top: 50px;
    width: 100%;
    margin: 0px;
}

.search_item {
    font-size: 14px;
    --min-height: 30px;
    border-bottom: 1px solid #FF5207;
    width: 100%;
}

.mainBanks_div {
    width: 100% !important;
    display: flex;
    gap: 20px;
    overflow-y: auto;
    padding-top: 20px;
}

.banks_div {
    background: white;
    width: max-content;
    height: 28px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px 15px;
}

.banks_icon {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.banks_text {
    font-size: 12px;
    font-weight: 600;
    color: #767676;
    margin: 0px;
}

.mainDirections_div {
    width: 100%;
    background: white;
    border-radius: 20px 20px 0px 0px;
}

.mainTastyliciousFood_div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.tastylicious_text {
    font-size: 14px;
    font-weight: 500;
    color: black;
    margin: 0px;
}

.close_icon {
    width: 25px;
    height: 25px;
    color: red;
}

.reviews_div {
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.ratedByUsers_text {
    font-size: 14px;
    font-weight: 500;
    color: #717171;
    margin: 0px;
}

.mainBtn_div {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.directions_btn {
    --background: #FF5207;
    height: 36px;
    --border-radius: 20px;
    font-size: 13px;
    font-weight: 500;
    color: white;
    --box-shadow: none !important;
    text-transform: capitalize;
    margin: 0px;
}

.directions_img {
    width: 21px;
    height: 21px;
    margin-right: 10px;
}

.bookAppointment_btn {
    --background: #FFD9C9;
    height: 36px;
    --border-radius: 20px;
    font-size: 13px;
    font-weight: 500;
    color: #FF5207;
    --box-shadow: none !important;
    text-transform: capitalize;
    margin: 0px;
}

.bookAppointment_img {
    width: 15px;
    height: 19px;
    margin-right: 10px;
}

.directionsImage_div {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    overflow-y: auto;
    padding: 20px 0px 0px 0px;
}

.directions_image {
    width: 162px;
    height: 162px;
}

.directions_image1 {
    width: 80px;
    height: 162px;
}

.overview_text {
    font-size: 14px;
    font-weight: 500;
    color: black;
    margin: 0px;
    border-bottom: 1px solid #BFBFBF;
    padding: 0px 20px 10px 20px;
}

.loremIpsum_text {
    font-size: 12px;
    font-weight: 400;
    color: #6B6B6B;
    margin: 0px;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid #BFBFBF;
}

.mainAlarm_div {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid #BFBFBF;
}

.min_text {
    font-size: 12px;
    font-weight: 400;
    color: #6B6B6B;
    margin: 0px;
}

.min_text1 {
    font-size: 12px;
    font-weight: 400;
    color: #6B6B6B;
    margin: 5px 0px 0px 0px;
}

.mainCrowdDetection_div {
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid #BFBFBF;
}

.crowdDetection_text {
    font-size: 12px;
    font-weight: 400;
    color: #6B6B6B;
    margin: 0px;
}

.high_div {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin: 5px 0px 0px 0px;
}

.rounded_text {
    background: #F55252;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    margin: 0px;
}

.high_text {
    font-size: 12px;
    font-weight: 400;
    color: #6B6B6B;
    margin: 0px;
}

.mainCrowdAvailable_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid #BFBFBF;
}

.crowdAvailable_text {
    font-size: 14px;
    font-weight: 500;
    color: #4A4A4A;
    margin: 0px;
}

.crowdAvailable_text1 {
    font-size: 24px;
    font-weight: 500;
    color: #4A4A4A;
    margin: 0px;
}

.appointment_text {
    font-size: 15px;
    font-weight: 600;
    color: #1E1F2E;
    margin: 10px 0px 0px 0px;
}

.timeSlotCard {
    background: white;
    width: 100%;
    box-shadow: 0px 7px 4px 0px #00000040;
    padding: 20px;
    border-radius: 24px;
    margin: 10px 0px 0px 0px;
}

.timeSlot_div {
    width: 55px;
    height: 67px;
    background: white;
    border-radius: 11px;
    padding: 5px;
}

.timeSlot_div1 {
    width: 55px;
    height: 67px;
    background: #F05023;
    border-radius: 11px;
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 5px;
}

.sunday_text {
    font-size: 15px;
    font-weight: 600;
    color: #333333;
    text-align: center;
    margin: 0px;
}

.sunday_text1 {
    font-size: 15px;
    font-weight: 600;
    color: #1E1F2E;
    text-align: center;
    margin: 10px 0px 0px 0px;
}

.sunday_text2 {
    font-size: 15px;
    font-weight: 600;
    color: white;
    text-align: center;
    margin: 0px;
}

.sunday_text3 {
    font-size: 15px;
    font-weight: 600;
    color: white;
    text-align: center;
    margin: 10px 0px 0px 0px;
}

.availableTime_text {
    font-size: 15px;
    font-weight: 600;
    color: #1E1F2E;
    margin: 20px 0px 20px 0px;
}

.availableTimeSlot {
    background: #F05023;
    width: 74px;
    height: 28px;
    border-radius: 11px;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-size: 13px;
    font-weight: 600;
    color: white;
    margin: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.availableTimeSlot1 {
    background: white;
    width: 74px;
    height: 28px;
    border: 1px solid #CBCBCB;
    border-radius: 11px;
    box-shadow: 6px 7px 20px 0px #00000040;
    font-size: 13px;
    font-weight: 600;
    color: #9C9C9C;
    margin: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm_btn {
    --background: #F05023;
    width: 100%;
    height: 50px;
    --border-radius: 10px;
    --box-shadow: 0px 5px 20px 10px #2048BD33;
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin: 50px 0px 0px 0px;
    text-transform: capitalize;
}

.name {
    --border-radius: 10px;
    color: #797979;
    font-size: 16px;
    font-weight: 400;
    --border-color: #858080;
    margin: 20px 0px 0px 0px;
}

.password {
    --border-radius: 10px;
    color: #797979;
    font-size: 16px;
    font-weight: 400;
    --border-color: #858080;
    margin: 20px 0px 0px 0px;
}

.selectCountry_div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 0px 0px;
    background: white;
    border: 1px solid #858080;
    border-radius: 10px;
}

.selectCountry {
    width: 100%;
    height: 50px;
    padding: 0px 16px 0px 16px !important;
    font-size: 16px;
    font-weight: 400;
    color: #797979;
    margin: 0px;

    &::part(icon) {
        position: absolute !important;
        right: 0px !important;
    }
}

.textarea {
    --border-radius: 10px;
    color: #797979;
    font-size: 16px;
    font-weight: 400;
    --border-color: #858080;
    margin: 20px 0px 0px 0px;
}

.payAmount_btn {
    --background: #F05023;
    width: 100%;
    height: 50px;
    --border-radius: 10px;
    --box-shadow: 0px 5px 20px 10px #2048BD33;
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin: 50px 0px 0px 0px;
}