<ion-tabs (ionTabsWillChange)="selected($event)">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <div class="tabsSelected center" *ngIf="currentTabs==='home'">
        <ion-icon class="icon" aria-hidden="true" src="../../assets/tabsIcon/tabs-icon-1selected.svg"></ion-icon>
        <p class="tabsSelected_name ABeeZee">Home</p>
      </div>
      <div class="tabsSelected center" *ngIf="currentTabs!=='home'">
        <ion-icon class="icon" aria-hidden="true" src="../../assets/tabsIcon/tabs-icon-1.svg"></ion-icon>
        <p class="tabsSelected_name1 ABeeZee">Home</p>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="my-appointments">
      <div class="tabsSelected center" *ngIf="currentTabs==='my-appointments'">
        <ion-icon class="icon" aria-hidden="true" src="../../assets/tabsIcon/tabs-icon-2selected.svg"></ion-icon>
        <p class="tabsSelected_name ABeeZee">My Appointments</p>
      </div>
      <div class="tabsSelected center" *ngIf="currentTabs!=='my-appointments'">
        <ion-icon class="icon" aria-hidden="true" src="../../assets/tabsIcon/tabs-icon-2.svg"></ion-icon>
        <p class="tabsSelected_name1 ABeeZee">My Appointments</p>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <div class="tabsSelected center" *ngIf="currentTabs==='history'">
        <ion-icon class="icon" aria-hidden="true" src="../../assets/tabsIcon/tabs-icon-3selected.svg"></ion-icon>
        <p class="tabsSelected_name ABeeZee">History</p>
      </div>
      <div class="tabsSelected center" *ngIf="currentTabs!=='history'">
        <ion-icon class="icon" aria-hidden="true" src="../../assets/tabsIcon/tabs-icon-3.svg"></ion-icon>
        <p class="tabsSelected_name1 ABeeZee">History</p>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <div class="tabsSelected center" *ngIf="currentTabs==='settings'">
        <ion-icon class="icon" aria-hidden="true" src="../../assets/tabsIcon/tabs-icon-4selected.svg"></ion-icon>
        <p class="tabsSelected_name ABeeZee">Settings</p>
      </div>
      <div class="tabsSelected center" *ngIf="currentTabs!=='settings'">
        <ion-icon class="icon" aria-hidden="true" src="../../assets/tabsIcon/tabs-icon-4.svg"></ion-icon>
        <p class="tabsSelected_name1 ABeeZee">Settings</p>
      </div>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>