ion-header {
    background: #F05023;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-md {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    gap: 10px;
}

.back_icon {
    height: 20px;
    width: 20px;
    color: white;
}

.mainTitle_text {
    font-size: 16px;
    font-weight: 700;
    color: white;
    margin: 0px;
    padding-left: 10px;
}

.user_icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 100%;
}

.user_icon1 {
    width: 30px;
    height: 30px;
    color: white;
}

.mainBackground {
    --background: white;
    height: 100%;
    width: 100%;
}

// .name_text {
//     font-weight: 400;
//     font-size: 16px;
//     color: #1E0909;
//     margin: 0px;
// }

// .email_text {
//     font-weight: 400;
//     font-size: 16px;
//     color: #797979D9;
//     margin: 5px 0px 0px 0px;
// }

// .name_div {
//     width: 100%;
//     margin: 20px 0px 0px 0px;
// }

.appointmentsDetails_img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.appointmentsDetails_card {
    background: white;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 9.3px 0px #36363640;
    margin: 20px 0px 0px 0px;
}

.name_div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.name_text {
    font-weight: 600;
    font-size: 14px;
    color: #363636;
    margin: 0px;
}

.louisLitt_text {
    font-weight: 500;
    font-size: 14px;
    color: #363636;
    margin: 0px;
}

.phoneNo_div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.purposeOfVisit_div {
    width: 100%;
    margin-top: 20px;
}

.purposeOfVisit_text {
    font-weight: 600;
    font-size: 14px;
    color: #363636;
    margin: 0px;
}

.purposeOfVisit_desc_text {
    font-weight: 500;
    font-size: 14px;
    color: #363636;
    margin: 10px 0px 0px 0px;
}