<ion-header>
  <div class="mainHeader">
    <div class="left">
      <ion-icon class="back_icon" (click)="goBack()" name="chevron-back-outline"></ion-icon>
      <p class="mainTitle_text PPNeueMontreal">Purpose of Visit</p>
    </div>
    <img class="user_icon" *ngIf="userDetail?.profile" [src]="userDetail?.profile" />
    <ion-icon class="user_icon1" *ngIf="!userDetail?.profile" name="person-outline"></ion-icon>
  </div>
</ion-header>

<ion-content class="mainBackground">
  <div style="padding: 20px;">

    <div class="w_100">
      <div class="w_100">
        <p class="name_text">Name</p>
        <p class="email_text">{{appointmentIdData?.name}}</p>
      </div>
      <div class="name_div">
        <p class="name_text">Email</p>
        <p class="email_text">{{appointmentIdData?.email}}</p>
      </div>
      <div class="name_div">
        <p class="name_text">Mobile Number</p>
        <p class="email_text">{{appointmentIdData?.phone}}</p>
      </div>
      <div class="name_div">
        <p class="name_text">Gender</p>
        <p class="email_text">{{appointmentIdData?.gender}}</p>
      </div>
      <div class="name_div">
        <p class="name_text">Purpose of Visit</p>
        <p class="email_text">{{appointmentIdData?.purpose_of_visit}}</p>
      </div>
    </div>
  </div>
</ion-content>