<ion-header>
  <div class="mainHeader">
    <div class="left">
      <ion-icon class="back_icon" (click)="goBack()" name="chevron-back-outline"></ion-icon>
      <p class="mainTitle_text PPNeueMontreal">My Appointments Details</p>
    </div>
    <img class="user_icon" *ngIf="userDetail?.profile" [src]="userDetail?.profile" />
    <ion-icon class="user_icon1" *ngIf="!userDetail?.profile" name="person-outline"></ion-icon>
  </div>
</ion-header>

<ion-content class="mainBackground">
  <div style="padding: 20px;">
    <div class="center flex_col">
      <img class="drAndrew_img" [src]="appointmentIdData?.service?.profile" />
      <p class="drAndrew_text Inter">{{appointmentIdData?.service?.service_name}}</p>
      <p class="descript_text Inter">{{appointmentIdData?.service?.service_description}}</p>

      <ion-button class="signIn_btn" (click)="purposeOfVisit()">See Purpose of Visit</ion-button>
    </div>
  </div>
</ion-content>