<ion-header>
  <div class="mainHeader">
    <div class="left">
      <ion-icon class="back_icon" (click)="goBack()" name="chevron-back-outline"></ion-icon>
      <p class="mainTitle_text PPNeueMontreal">My Appointments Details</p>
    </div>
    <img class="user_icon" src="../../../../assets/images/userIcon.png" />
  </div>
</ion-header>

<ion-content class="mainBackground">
  <div style="padding: 20px;">
    <div class="center flex_col">
      <img class="drAndrew_img" src="../../../../assets/images/drAndrewImg.png" />
      <p class="drAndrew_text Inter">Dr. Arjuna</p>
      <p class="descript_text Inter">I am an experienced dentist with over 10 years of practice. I am specialized in
        general
        dentistry and
        I will offer a range of services.I am an experienced dentist with over 10 years of practice. I am specialized in
        general dentistry and I will offer a range of services.I am an experienced dentist with over 10 years of
        practice. I am specialized in general dentistry and I will offer a range of services.I am an experienced dentist
        with over 10 years of practice. I am specialized in general dentistry and I will offer a range of services.I am
        an experienced dentist with over 10 years of practice. I am specialized in general dentistry and I will offer a
        range of services.I am an experienced dentist with over 10 years of practice. I am specialized in general
        dentistry and I will offer a range of services.I am an experienced dentist with over 10 years of practice. I am
        specialized in general dentistry and I will offer a range of services.</p>

      <ion-button class="signIn_btn" (click)="purposeOfVisit()">See Purpose of Visit</ion-button>
    </div>
  </div>
</ion-content>