<ion-header>
  <div class="mainHeader">
    <div class="left">
      <ion-icon class="back_icon" (click)="goBack()" name="chevron-back-outline"></ion-icon>
      <p class="mainTitle_text">Detail</p>
    </div>
  </div>
</ion-header>

<ion-content class="mainBackground">
  <div style="padding: 20px;">
    <div class="center">
      <img class="appointmentsDetails_img" src="../../../../assets/images/image-7.png" />
    </div>
    <div class="appointmentsDetails_card">
      <div class="name_div">
        <p class="name_text">Name :</p>
        <p class="louisLitt_text">Louis Litt</p>
      </div>

      <div class="phoneNo_div">
        <p class="name_text">Phone no :</p>
        <p class="louisLitt_text">9999999999</p>
      </div>

      <div class="phoneNo_div">
        <p class="name_text">Gender :</p>
        <p class="louisLitt_text">Male</p>
      </div>

      <div class="phoneNo_div">
        <p class="name_text">Check-In time :</p>
        <p class="louisLitt_text">9:00 am</p>
      </div>

      <div class="phoneNo_div">
        <p class="name_text">Purpose of Visit :</p>
        <p class="louisLitt_text">Business Meeting</p>
      </div>
    </div>

    <ion-button class="next_btn">Next</ion-button>

  </div>
</ion-content>