<ion-header>
  <div class="mainHeader">
    <div class="left">
      <ion-icon class="back_icon" (click)="goBack()" name="chevron-back-outline"></ion-icon>
      <p class="mainTitle_text">Appointments Detail</p>
    </div>
  </div>
</ion-header>

<ion-content class="mainBackground">
  <div style="padding: 20px;">
    <div class="center">
      <img class="appointmentsDetails_img" [src]="appointmentIdData?.service?.profile" />
    </div>
    <div class="appointmentsDetails_card">
      <div class="name_div">
        <p class="name_text">Name :</p>
        <p class="louisLitt_text">{{appointmentIdData?.name}}</p>
      </div>

      <div class="phoneNo_div">
        <p class="name_text">Phone no :</p>
        <p class="louisLitt_text">{{appointmentIdData?.phone}}</p>
      </div>

      <div class="phoneNo_div">
        <p class="name_text">Gender :</p>
        <p class="louisLitt_text">{{appointmentIdData?.gender}}</p>
      </div>

      <div class="phoneNo_div">
        <p class="name_text">Check-In time :</p>
        <p class="louisLitt_text">{{appointmentIdData?.time}}</p>
      </div>

      <div class="phoneNo_div">
        <p class="name_text">Purpose of Visit :</p>
        <p class="louisLitt_text">{{appointmentIdData?.purpose_of_visit}}</p>
      </div>
    </div>

    <ion-button class="next_btn" *ngIf="appointmentIdData?.status==='Pending'"
      (click)="updateAppointmentStatusByProvider()">Complete</ion-button>
    <ion-button class="completed_btn" *ngIf="appointmentIdData?.status==='Completed'">Completed</ion-button>
  </div>
</ion-content>