ion-header {
    background: #F05023;
    // height: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-md {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.mainTitle_text {
    font-size: 16px;
    font-weight: 700;
    color: white;
    margin: 0px;
}

.user_icon {
    // width: 18px;
    // height: 18px;
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.user_icon1 {
    // width: 18px;
    // height: 18px;
    width: 30px;
    height: 30px;
    color: white;
}

.mainBackground {
    --background: white;
    height: 100%;
    width: 100%;
}

.mainCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.card {
    background: #F05023;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

.mainNotifications_div {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
}

.notifications_div {
    background: white;
    width: 37px;
    height: 37px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notificationsIcon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.date_text {
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0px;
}

.andrew_text {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 4px 0px 0px 0px;
}