<ion-content class="mainBackground">
  <div style="padding: 20px;" class="h_100">
    <div class="main_div">
      <div class="welcome_div">
        <p class="welcome_text PPNeueMontreal">{{'Welcome' | translate}}</p>
        <p class="signUpDetails_text PPNeueMontreal">{{'Please enter your sign in details' | translate}}.</p>
      </div>

      <div class="center">
        <img class="bg_img" src="../../../assets/images/bgImg.png" />
      </div>

      <form class="w_100" #signinForm="ngForm">
        <ion-input class="email" type="email" [label]="'Email' | translate" label-placement="floating" fill="outline"
          [placeholder]="'Enter email' | translate" name="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          [(ngModel)]="signinModel.email" #email="ngModel" required></ion-input>
        <p class="validField" *ngIf="submitted && email?.errors?.['required']">{{'Email is required' | translate}}.</p>
        <p class="validField" *ngIf="submitted && email?.errors?.['pattern']">{{'Invalid your email' | translate}}</p>

        <ion-input class="password" type="password" [label]="'Password' | translate" label-placement="floating"
          fill="outline" placeholder="**************" name="password" [(ngModel)]="signinModel.password"
          #password="ngModel" required></ion-input>
        <p class="validField" *ngIf="submitted && password?.errors?.['required']">
          {{'Password is required' | translate}}.</p>

        <p class="signUp_text">{{'By clicking Sign up, you agree with our' | translate}} <span class="f_700"
            (click)="termsAndConditionsPage()">{{'Terms and Conditions' | translate}} </span>{{'and' | translate}} <span
            class="f_700" (click)="privacyPolicyPage()">{{'Privacy Policy' | translate}}</span></p>

        <ion-button class="signIn_btn" (click)="login(signinForm)">{{'Sign in' | translate}}</ion-button>

        <p class="account_text Poppins">{{'Didn’t have any account' | translate}}? <span class="f_700"
            (click)="signUpPage()">{{'Sign up' | translate}}</span></p>

        <p class="forgetPassword PPNeueMontreal" (click)="forgetPasswordPage()">{{'Forget Password' | translate}} ?</p>
      </form>
    </div>
  </div>
</ion-content>